/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store

.idea/
_ide_helper.php
/public/css/
/public/js/
/public/img/
/public/images/
/public/tutors/
/public/css/tutor.css
/public/css/admin.css
/public/css/app.css
/public/mix-manifest.json
yarn.lock
/public/*/*.js
/public/*/*.css
public/phpmyadmin/
/resources/js/firebase_info.js
